<!-- Header -->
<header>
  <mat-toolbar color="primary">
    <span>ARTIST FINDER</span>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
  </mat-toolbar>
</header>

<!-- Contenuto principale -->
<main>
  <app-homepage></app-homepage>
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<footer>
<!--   <p>&copy; 2023 Il mio sito Angular</p>
 --></footer>
