
<div class="calcolatore-paga-semplice py-2 px-3">
    <h1 class="py-1">CALCOLATORE ENTRATE SEMPLICE</h1>
    <div class="row justify-content-start">
        <div class="col-xs-12 col-lg-6 col-xl-4 pb-3 mb-1">
            <div class="calcolatore-paga-semplice__input-data">
                <h2 class="calcolatore-paga-semplice__input-title pb-1 mb-0">Inserimento dati</h2>
                <form *ngIf="datiLavoroForm" class="row calcolatore-paga-semplice__form" [formGroup]="datiLavoroForm">
                    <div class="col-xs-12 calcolatore-paga-semplice__form-field">
                        <mat-form-field class="example-form-field">
                            <mat-label>Stipendio Netto Mensile</mat-label>
                            <input matInput type="number" class="no-spinners" [formControlName]="'stipendioMensile'">
                            <button *ngIf="datiLavoroForm.get('stipendioMensile')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="resetField(datiLavoroForm.get('stipendioMensile')!)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12 calcolatore-paga-semplice__form-field">
                        <mat-form-field class="example-form-field">
                            <mat-label>Buoni Pasto Mensili</mat-label>
                            <input matInput type="number" class="no-spinners" [formControlName]="'buoniPasto'">
                            <button *ngIf="datiLavoroForm.get('buoniPasto')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="resetField(datiLavoroForm.get('buoniPasto')!)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12 calcolatore-paga-semplice__form-field">
                        <mat-form-field class="example-form-field">
                            <mat-label>Straordinari Netti Mensili</mat-label>
                            <input matInput type="number" class="no-spinners" [formControlName]="'straordinari'">
                            <button *ngIf="datiLavoroForm.get('straordinari')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="resetField(datiLavoroForm.get('straordinari')!)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12 calcolatore-paga-semplice__form-field">
                        <mat-form-field class="example-form-field">
                            <mat-label>Bonus Annuale</mat-label>
                            <input matInput type="number" class="no-spinners" [formControlName]="'bonusProduttività'">
                            <button *ngIf="datiLavoroForm.get('bonusProduttività')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="resetField(datiLavoroForm.get('bonusProduttività')!)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12 calcolatore-paga-semplice__form-field">
                        <mat-form-field class="example-form-field">
                            <mat-label>Numero Mensilità</mat-label>
                            <input matInput type="number" class="no-spinners" [formControlName]="'mensilità'">
                            <button *ngIf="datiLavoroForm.get('mensilità')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="resetField(datiLavoroForm.get('mensilità')!)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12 calcolatore-paga-semplice__form-field">
                        <mat-form-field class="example-form-field">
                            <mat-label>Giorni di lavoro a Settimana</mat-label>
                            <input matInput type="number" class="no-spinners" [formControlName]="'giorniLavoroSettimana'">
                            <button *ngIf="datiLavoroForm.get('giorniLavoroSettimana')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="resetField(datiLavoroForm.get('giorniLavoroSettimana')!)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12 calcolatore-paga-semplice__form-field">
                        <mat-form-field class="example-form-field">
                            <mat-label>Ore di lavoro giornaliere</mat-label>
                            <input matInput type="number" class="no-spinners" [formControlName]="'oreLavoroGiorno'">
                            <button *ngIf="datiLavoroForm.get('oreLavoroGiorno')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="resetField(datiLavoroForm.get('oreLavoroGiorno')!)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12">
                        <button type="submit" [disabled]="!datiLavoroForm.valid" (click)="submitForm()" mat-raised-button color="primary" class="full-width-btn">Calcola</button>
                    </div>
                </form> 
            </div>
        </div>
    
        <div *ngIf="pagaStipendioOutput.entrateNetteAnnue" id="calcolatore-semplice-results" class="col-xs-12 col-lg-6 col-xl-8">
            <div class="calcolatore-paga-semplice__output-data">
                <h2 class="calcolatore-paga-semplice__output-title pb-1 mb-0">Risultati</h2>
                <p>Stipendio netto annuo: <b>{{pagaStipendioOutput.entrateNetteAnnue | currency:'EUR':'symbol':'1.2-2':'it' }}</b></p>
                <p>Entrate nette mensili: <b>{{pagaStipendioOutput.entrateNetteMese | currency:'EUR':'symbol':'1.2-2':'it' }}</b></p>
                <p>Entrate nette per giorno di lavoro: <b>{{pagaStipendioOutput.entreateGiornoLavoro | currency:'EUR':'symbol':'1.2-2':'it' }}</b></p>
                <p>Entrate nette per ora di lavoro: <b>{{pagaStipendioOutput.pagaOrariaNetta | currency:'EUR':'symbol':'1.2-2':'it' }}</b></p>
            </div>
        </div>
    </div>
</div>

